#promo{
	padding: 40px;
	text-align: center;
	background: url(../img/dodol02.JPG) no-repeat;
	background-size: cover;
}

#promo.jumbotron{
	border-radius: 20px;
	padding: 20px;
	background: rgba(255,255,255,0.80);
	max-width: 900px;
	margin: auto;
}

table.tbl_fixed{
	table-layout: auto;
}